/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("font-awesome.min.css");
@import url("bootstrap.css");
@import url("bootsnav.css");
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul, li{
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;border-spacing: 0;
}

/** END RESET **/
body {
	background-color: hsla(0,0%,18%,1.00);font-size:13px;color:#666;font-family:'微软雅黑';
}

h1 {
    font-size: 3rem;text-align: center;padding-top: 2rem;
}
a{text-decoration:none;display:block;
	-webkit-tap-highlight-color:rgba(255, 255, 255, 0);
	-webkit-user-select:none;
	-moz-user-focus:none;
	-moz-user-select:none;	
}

/* Navbar */
.navbar-brand{
    padding: 29px 15px;
    height: auto;
}
nav.navbar.bootsnav{
    border: none;
    margin-bottom: 30px;
}
.navbar-nav{
    float: left;
}
nav.navbar.bootsnav ul.nav > li > a{
    color: #474747;
    text-transform: uppercase;
    padding: 30px;
}
nav.navbar.bootsnav ul.nav > li:hover{
    background: #f4f4f4;
}
.nav > li:after{
    content: "";
    width: 0;
    height: 5px;
    background: #34c9dd;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}
.nav > li:hover:after{
    width: 100%;
}
nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    content: "+";
    font-family: 'FontAwesome';
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 35%;
    right: 10%;
    transition: all 0.4s ease 0s;
}
nav.navbar.bootsnav ul.nav > li.dropdown.on > a.dropdown-toggle:after{
    content: "\f105";
    transform: rotate(90deg);
}
.dropdown-menu.multi-dropdown{
    position: absolute;
    left: -100% !important;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
}
@media only screen and (max-width:990px){
    nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after,
    nav.navbar.bootsnav ul.nav > li.dropdown.on > a.dropdown-toggle:after{ content: " "; }
    .dropdown-menu.multi-dropdown{ left: 0 !important; }
    nav.navbar.bootsnav ul.nav > li:hover{ background: transparent; }
    nav.navbar.bootsnav ul.nav > li > a{ margin: 0; }
}
/*END*/

#minesweeper {
	max-width: 30rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1.8rem;
    padding-bottom: 0.1rem;
    background: #fff;
}

/** Pad **/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	#minesweeper {max-width: 75% !important;}
}
/** Phone **/
@media only screen and (max-width: 767px) {
	#minesweeper {max-width: 90% !important;}
}

.menu ul{
	padding-top:20px;padding-bottom:20px;
}

.menu ul{
	text-align: center;margin: 0 auto;
}

.menu ul li {
    display: inline-block; width: 25%;
}

.reset button {
    width: 3rem;height: 3rem;line-height: 3rem;font-size: 2rem;border-radius: 50%;border: 0;background: #e9f0ef;cursor: pointer;
}
#mine-grid {
	margin: 0 auto;
}
#mine-grid #mineBlock{
	border: 1px solid #776e65 !important;
	cursor: pointer;
	background: #faf8ef;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	opacity: 100;
	border-radius:10%;
	font-size: 2rem;
    line-height: initial;
    margin:0 auto;
}


#mine-grid #mineBlock.open {
  background: #E9F0EF;
  color: #2D3E4A;
}

#mine-grid #mineBlock.exploded {
  background: #747a1b96 !important;
  color: #E9F0EF;
}

#mine-grid #mineBlock.flagged {
  background: #95DCED;
}
.mineLine{
	border: 0;
	margin: 0 auto;
	width: 100%;
	height: auto;
	display: flex
}
.clear {
	width: 0;height: 0;clear: both;visibility:hidden;
}